---
- name: Install flake8
  pip: name=flake8

- name: Install HTTPIE
  pip: name=httpie

# INSTALL NPM NOW THAT IT IS INSTALLED WITHIN THE DOCKER CONTAINER
- name: "Add official NodeJS repo 6.x"
  shell: curl -sL https://deb.nodesource.com/setup_6.x | sudo -E bash -
  tags: nodejs

- name: "Install node.js"
  apt: name=nodejs update_cache=yes
  tags: nodejs

- name: "Update npm"
  npm: name=npm global=yes state=latest

- name: "Install phantomjs for CI"
  npm: name=phantomjs state=2.1.1 unsafe_perm=yes path={{ application_dir }}/tests
  become: no
  when: ci|bool

- name: "Install E2E test dependencies"
  npm: path={{ application_dir }}/tests ci=yes
  become: yes
  when: ci|bool

- name: "Install E2E test dependencies"
  npm: path={{ application_dir }}/tests
  become: no
  when: not ci


# TODO: now it fails at the very last test. 
# look into npm -> some kind of access right issues are there.
# I tried:
#    48  cd ~ && mkdir .node_modules_global
  #  49  npm config set prefix=$HOME/.node_modules_global
  # and then reinstall npm with
  # sudo npm install npm@latest -g
  # sudo npm install
# but this also did not help with the access stuff.
# next up: google something with the issue for circle CI.

# try installing: sudo apt-get install libfontconfig

# sudo npm install -g phantomjs@2.1.1 --unsafe-perm       nope 

# sudo npm install phantomjs@2.1.1 --unsafe-perm
  # this worked!

  # tried to do this and the 'sudo npm install --no-package-loc' now from the tests folder.
  # AND IT WORKS!!!
# now: change the path in the klee_web package.lock, do both installations there, then
#   do both installations in tests.